{% block body %}
 <header>
        <h1>Health Care Abroad Administrator Login Page</h1>
</header>

<form action="{{ path('admin_login') }}" method="POST" class="user">
    aklajsdklasd

    <input type="submit" value="Submit" name="login"/>
</form>
{% endblock %}